head
  link(rel="stylesheet", href="/global.css", data-inline)
body
  p Great to meet you #{name},
  p You have been invited by #{inviter} to create an account on Aether.
  a(href=link class="button" rel="noreferrer" target="_blank") Accept the Invite
