head
  link(rel="stylesheet", href="/global.css", data-inline)
body
  p Welcome to the Aether boilerplate! This email is to confirm your account.
  a(href=link class="button" rel="noreferrer" target="_blank") Confirm your Account
